<template name="slideEdit">
  {{#autoForm collection='Slides' id='editSlideForm' type='method' meteormethod='updateSlide' doc=..}}
    <fieldset>
      {{> afQuickField name='title' autofocus=true}}
      {{> afQuickField name='number'}}
      {{> afQuickField name='content' rows='10'}}
    </fieldset>

    <button type="submit" class="btn btn-primary pull-left">{{_ 'slide_update'}}</button>
  {{/autoForm}}

  <div class="pull-right">
    <a href="{{pathFor 'slide'}}">{{_ 'show'}}</a>
  </div>
</template>
